<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Edit User</h2>
    <form action="/update" method="post">
      <input type="hidden" name="id" value="<%= user._id %>">
      <p>
        <label for="">Usuário:
          <input type="text" name="username" value="<%= user.username %>">
        </label>
      </p>
      <p>
        <label for="">Senha:
          <input type="password" name="password" value="">
        </label>
      </p>
      <p>
        <input type="submit" value="Salvar">
      </p>
    </form>
  </body>
</html>
